@model Zoom3Web.UserData
@{
    ViewBag.Title = "Recuperar Contraseña";
}

<div class="form-horizontal well">
    @using (Html.BeginForm())
    {

        <fieldset class="profile-container">
            <legend>Recuperar Contraseña</legend>

            <div class="form-group">
                @Html.Label("Contraseña Antigua", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.US_Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.US_Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Nueva Contraseña", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.US_NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.US_NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Repetir Contraseña", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.US_ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.US_ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Restablecer Contraseña" class="btn btn-success" />
                </div>
            </div>

        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
