@model Zoom3Web.UserData

@{
    ViewBag.Title = "EditImage";
}

@Html.Partial("_ProfileMenu")

<div class="row" style="padding-left:20px; padding-right:20px; padding-top:5px;">
@{ int idPh = ViewBag.photoIdUser;}
    <div class="col-md-6 col-sm-12" style="border-right: 1px solid #e5e5e5;">
        <div class="thumbnail">
            <img src="@Url.Action("GetImage", "Home", new { id = idPh})" alt="Photo" />
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-horizontal">
            @using (Html.BeginForm())
            { @Html.AntiForgeryToken()  @Html.ValidationSummary(true)    
                <fieldset class="profile-container">
                <legend>Detalles Fotografía</legend>

                <div class="form-group">
                    @Html.Label("Título", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Photo.Single().PH_Title, new { @class = "form-control", @placeholder = "Título" })
                        @Html.ValidationMessageFor(model => model.Photo.Single().PH_Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Descripción", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Photo.Single().PH_Description, new { @class = "form-control", @placeholder = "Descripción" })
                        @Html.ValidationMessageFor(model => model.Photo.Single().PH_Description, "", new { @class = "text-danger" })
                    </div>
                </div>
           
                <div class="form-group">
                    @Html.Label("Poner a la Venta", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Photo.Single().PH_InMarket, new { @class = "checkbox" })
                       
                    </div>
                </div>
                

                <div class="form-group" id="priceInput" style="display:none">
                    @Html.Label("Precio", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Photo.Single().PH_Price, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Photo.Single().PH_Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                

                <div class="form-group">
                    @Html.Label("Categoría", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownList("PH_CAT_Id", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar Cambios" class="btn btn-success" />
                        @Html.ActionLink("Volver", "MyPhotos", "", new { @class = "btn btn-default" })
                    </div>
                </div>

            </fieldset>
            }

        </div>
        </div>

    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<div id="myModal" style="display:none;" class="custom-modal">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="closeModal()">&times;</button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <div class="modal-body">
                <p>Para poner a la venta una fotografía es necesario haber introducido un número de Cuenta</p>
                <a href="~/Profile/AddAccount">Pulse aquí para introducir ahora</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal()">Cerrar</button>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        var x = document.getElementById("PH_InMarket").checked;
        if (x == true) {
            document.getElementById('priceInput').style.display = "block";
        } else {
            document.getElementById('priceInput').style.display = "none";
        }
    });

    $("#PH_InMarket").change(function () {
        var x = document.getElementById("PH_InMarket").checked;
        if (x == true) {
            document.getElementById('priceInput').style.display = "block";
            test();
        } else {
            document.getElementById('priceInput').style.display = "none";
        }
    });

   
    function test() {
        var user = 5;
        $.ajax({
            type: 'POST',
            url: '/Upload/checkUserAccount',
            dataType: 'json',
            data: JSON.stringify(user),
            success: function (data) {
                var datos = data.modal;
                showModal(datos);
            },
            error: function (xhr, ajaxOptions, error) {
                alert(xhr.status);
                alert('Error: ' + xhr.responseText);
            }
        });
    }


    function showModal(datos) {
        if (datos == false) {
            document.getElementById("myModal").style.display = "block";
        }
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }
</script>
